asgiref==3.8.1
Django==5.1.7
mysql-connector-python
pillow==11.1.0
sqlparse==0.5.3
tzdata==2025.2
gunicorn
whitenoise
cloudinary==1.43.0
django-cloudinary-storage==0.3.0
solana
pandas
pydantic
pydantic_core
torch
torchvision
scikit-learn
solders
base58
deep_translator