{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@solana/web3.js@latest/lib/index.iife.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@solana/spl-token@latest/lib/index.iife.min.js"></script>

<div id="loading-overlay">
    <div id="loading-spinner"></div>
</div>
<h1 style="text-align: center; color: #2c3e50;"></h1>

<div id="status" style="text-align: center; margin-bottom: 20px;">
    {% if user.is_authenticated %}
        <p><strong>{{ user.username }}</strong></p>
        <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn">Logout</button>
        </form>
    {% else %}
        <button class="btn" onclick="connectAndLogin()">Login with Phantom</button>
    {% endif %}
</div>

{% if user.is_authenticated %}
<div class="tabs-container">
    <button class="tab-button active" onclick="openTab(event, 'orders')">Orders</button>
    <button class="tab-button" onclick="openTab(event, 'inventory')">Inventory</button>
    <button class="tab-button" onclick="openTab(event, 'tab3')">Guild</button>
    <button class="tab-button" onclick="openTab(event, 'detox')">Detox</button>
</div>

<div id="orders" class="tab-content" style="display: block;">
    <h3 style="color: #34495e;">Orders</h3>
    <table class="styled-table">
        <thead>
            <tr>
                <th>Object</th>
                <th>Price</th>
                <th>Created Date</th>
                <th>Availabilable</th>
                <th>Date Finalized</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for notification in notifications %}
            <td>
                <img src="{{ notification.object.image.url }}" alt="{{ notification.object.name }}" style="width: 40px; height: 40px; margin-right: 10px; vertical-align: middle;">
                {{ notification.object.name }}
            </td>
            <td>{{ notification.price }}</td>
            <td>{{ notification.created_at }}</td>
            <td>{{ notification.available|yesno:"Sí,No" }}</td>
            <td>{{ notification.updated_at }}</td>
            <td>
                <button class="icon-button" onclick="deleteNotification('{{ notification.id }}')">
                    <img src="{% static 'icons/delete-icon.png' %}" alt="Eliminar" style="width: 20px; height: 20px;">
                </button>
            </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form id="orderForm" style="margin-top: 20px;">
        <label for="objectSelect">Selecciona un objeto:</label>
        <select id="objectSelect" name="object">
            {% for object in objects %}
            <option value="{{ object.id }}">{{ object.name }}</option>
            {% endfor %}
        </select>

        <label for="priceInput">Price:</label>
        <input type="number" id="priceInput" name="price" step="0.01" required>

        <button type="button" class="btn" onclick="saveOrder()">Save</button>
    </form>
</div>
<div id="inventory" class="tab-content">
    <!-- NFT Details (hidden initially) -->
    <div id="nftList" class="nft-container"></div>

</div>
<div id="tab3" class="tab-content">
    <h3 style="color: #34495e;">Guild Information</h3>
    <div class="guild-info">
        <h4>{{ guild_info.guild_name }}</h4>
        <p>{{ guild_info.guild_description }}</p>
        <p>Tag: {{ guild_info.guild_tag }}</p>
        <img src="{{ guild_info.guild_avatar }}" alt="{{ guild_info.guild_name }}" style="width: 100px; height: 100px;">
    </div>
    <h4 style="color: #34495e;">Members</h4>
    <div class="guild-members">
        {% for member in guild_info.guild_members %}
        <div class="member-block">
            <p><strong>Name:</strong> {{ member.name }}</p>
            <p><strong>Address:</strong> {{ member.address }}</p>
            <!-- Add more member details if needed -->
        </div>
        {% endfor %}
    </div>
</div>
<div id="detox" class="tab-content">
    <div class="detox-container">
        <h3>Detox your wallet and reclaim SOL</h3>
        <p>This service helps you detox your wallet from all those junk tokens you've collected along the way. We give you the opportunity to claim the fees that the Solana Network returns when you contribute to cleaning up the network by closing unused accounts.</p>
        <div class="detox-details">
            <div class="detox-item">
                <span>Tokens to clean</span>
                <span id="tokenClean" class="detox-value"></span>
            </div>
            <div class="detox-item">
                <span>SOL to claim</span>
                <span id="solClean" class="detox-value"></span>
            </div>
            <button class="btn detox-btn" onclick="cleanWallet()" style="background: black;">Clean</button>
        </div>
    </div>
</div>

</p>

</div>
{% endif %}

<style>
    .detox-container {
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
        background-color: #ecf0f1;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .detox-container h3 {
        color: #2c3e50;
        margin-bottom: 15px;
    }

    .detox-container p {
        color: #34495e;
        margin-bottom: 20px;
    }

    .detox-details {
        background-color: #2980b9;
        padding: 15px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .detox-item {
        margin-bottom: 10px;
        color: #ecf0f1;
        font-size: 18px;
    }

    .detox-value {
        font-weight: bold;
        margin-left: 5px;
    }

    .detox-btn {
        margin-top: 15px;
        background-color: #e74c3c; /* Cambia el color de fondo para que destaque */
        color: white;
        padding: 10px 20px;
        border: 2px solid #c0392b; /* Añade un borde para mayor contraste */
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, border-color 0.3s;
    }

    .detox-btn:hover {
        background-color: #c0392b; /* Cambia el color al pasar el ratón */
        border-color: #e74c3c; /* Cambia el color del borde al pasar el ratón */
    }
      .info-box, .details-box {
        background-color: #2c3e50;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
    }

    .info-box h2, .details-box h2 {
        font-size: 24px;
        color: #ecf0f1;
        margin-bottom: 15px;
    }

    /* Estilo para los balances */
    .balance {
        font-weight: bold;
        color: #ffcc00;
    }

    /* Contenedor de los NFTs (Bloques) */
    .nft-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 15px;
    }

    /* Estilo para cada bloque de NFT */
    .nft-card {
        background-color: #34495e;
        padding: 20px;
        border-radius: 10px;
        width: 200px;
        text-align: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s ease, background-color 0.3s ease;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nft-card:hover {
        background-color: #1abc9c;
        transform: translateY(-10px);
    }

    .nft-card img {
        width: 100px;
        height: 100px;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .nft-card span {
        color: #ecf0f1;
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px; /* Espacio entre la imagen y el nombre */
    }

    /* Estilo para la tabla de detalles del NFT */
    .nft-details-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .nft-details-table th, .nft-details-table td {
        padding: 12px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: #fff;
    }

    .nft-details-table th {
        background-color: #2c3e50;
    }

    .nft-details-table td a {
        color: #1abc9c;
        text-decoration: none;
    }

    .nft-details-table td a:hover {
        text-decoration: underline;
    }
    .guild-info {
        margin-bottom: 20px;
    }
    .guild-members {
        display: flex;
        flex-wrap: wrap;
    }
    .member-block {
        background-color: #f3f3f3;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        margin: 5px;
        width: calc(33.333% - 10px);
        box-sizing: border-box;
    }
    #loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none; /* Ocultar por defecto */
        z-index: 9999; /* Asegura que cubra toda la pantalla */
        justify-content: center;
        align-items: center;
    }

    #loading-spinner {
        border: 10px solid #f3f3f3;
        border-top: 10px solid gold;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }

    /* Animación del spinner */
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    body {
        font-family: 'Arial', sans-serif;
        background-color: #ecf0f1;
        color: #2c3e50;
    }
    .btn {
        background-color: #2980b9;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .btn:hover {
        background-color: #1abc9c;
    }
    .tabs-container {
        margin-top: 20px;
        text-align: center;
    }
    .tab-button {
        background-color: #2980b9;
        color: white;
        padding: 10px 15px;
        margin-right: 5px;
        cursor: pointer;
        border-radius: 5px;
        border: none;
        transition: background-color 0.3s;
    }
    .tab-button.active {
        background-color: #1abc9c;
    }
    .tab-content {
        display: none;
        padding: 15px;
        margin-top: 10px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .styled-table {
        width: 100%;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .styled-table thead tr {
        background-color: #2980b9;
        color: #ffffff;
        text-align: left;
    }
    .styled-table th, .styled-table td {
        padding: 12px 15px;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }
    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #2980b9;
    }
    .icon-button {
        background: none;
        border: none;
        cursor: pointer;
    }
</style>

<script src="https://unpkg.com/@solana/web3.js@latest/lib/index.iife.min.js"></script>
<script src="https://unpkg.com/@solana/web3.js@1.88.2/lib/index.iife.min.js"></script>
<script src="https://unpkg.com/@solana/spl-token@0.3.5/lib/index.iife.min.js"></script>
<script>



const connection = new solanaWeb3.Connection("https://api.mainnet-beta.solana.com");
function deleteNotification(notificationId) {
    document.getElementById('loading-overlay').style.display = 'flex';
    fetch(`/delete_order/`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'  // Asegúrate de que el token CSRF esté disponible
        },
        body: JSON.stringify({
            idNotification: notificationId,

        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status = 'ok') {
            document.getElementById('loading-overlay').style.display = 'none';
            alert("Notification deleted successfully.");
            location.reload(); // Recargar la página para actualizar la lista de notificaciones
        } else {
            document.getElementById('loading-overlay').style.display = 'none';
            alert("An error occurred while deleting the notification: " + data.error);
        }
    })
    .catch(error => {
        document.getElementById('loading-overlay').style.display = 'none';
        console.error("Error en la solicitud AJAX:", error);
        alert("An error occurred while deleting the notification.");
    });
}
function saveOrder() {
    const objectId = document.getElementById('objectSelect').value;
    const price = document.getElementById('priceInput').value;

    if (!objectId || !price) {
        alert("Please fill in all the fields.");
        return;
    }
    document.getElementById('loading-overlay').style.display = 'flex';
    fetch('/save-order/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': '{{ csrf_token }}'  // Asegúrate de que el token CSRF esté disponible
        },
        body: JSON.stringify({
            object_id: objectId,
            price: price
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status = 'ok') {
            document.getElementById('loading-overlay').style.display = 'none';
            alert("Order saved successfully.");
            location.reload();
        } else {
            document.getElementById('loading-overlay').style.display = 'none';
            alert("Error saving the order: " + data.error);
        }
    })
    .catch(error => {
        document.getElementById('loading-overlay').style.display = 'none';
        alert("An error occurred while saving the order.");
    });
}

async function checkClosableAccounts() {
    document.getElementById('loading-overlay').style.display = 'flex';
    const res = await fetch(`/get_closable_accounts`);
    const data = await res.json();
    console.log(data);
    if (data.status == 'ok') {
        $('#tokenClean').text(data.data.closable_accounts);
        $('#solClean').text(data.data.recoverable_sol.toFixed(6))

        document.getElementById('loading-overlay').style.display = 'none';
    } else {
        console.error("Error:", data.error);
    }
}

async function cleanWallet() {
    document.getElementById('loading-overlay').style.display = 'flex';
    const connection = new solanaWeb3.Connection("https://rpc.helius.xyz/?api-key=a3d88e42-62d1-4f91-b43d-a316f334fc45");
  const wallet = window.solana;
  await wallet.connect();

  const accounts = await connection.getParsedTokenAccountsByOwner(wallet.publicKey, {
    programId: new solanaWeb3.PublicKey("TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA")
  });

  const closeInstructions = [];

  for (let acc of accounts.value) {
    const info = acc.account.data.parsed.info;
    const lamports = await connection.getBalance(new solanaWeb3.PublicKey(acc.pubkey));
    const balance = parseInt(info.tokenAmount.amount);
    const decimals = parseInt(info.tokenAmount.decimals);

    const isEmpty = balance === 0;
    const isOwned = info.owner === wallet.publicKey.toBase58();

    if (isEmpty && isOwned) {
      closeInstructions.push(
        splToken.Token.createCloseAccountInstruction(
          new solanaWeb3.PublicKey("TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"),
          new solanaWeb3.PublicKey(acc.pubkey),
          wallet.publicKey, // destination of rent
          wallet.publicKey, // authority
          []
        )
      );
    }
  }

  if (closeInstructions.length === 0) {
    document.getElementById('loading-overlay').style.display = 'none';
    alert("No hay cuentas vacías para cerrar.");
    return;
  }

  const tx = new solanaWeb3.Transaction().add(...closeInstructions);
  tx.feePayer = wallet.publicKey;
  tx.recentBlockhash = (await connection.getRecentBlockhash()).blockhash;

  const signed = await wallet.signTransaction(tx);
  const raw = signed.serialize();

  const sig = await connection.sendRawTransaction(raw);
  document.getElementById('loading-overlay').style.display = 'none';
  alert("Transacción enviada: " + sig);
}
async function openTab(evt, tabName) {
    var i, tabcontent, tabbuttons;
    tabcontent = document.getElementsByClassName("tab-content");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tabbuttons = document.getElementsByClassName("tab-button");
    for (i = 0; i < tabbuttons.length; i++) {
        tabbuttons[i].className = tabbuttons[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
   
    if( tabName === 'detox'){

        checkClosableAccounts()

    }

    if(tabName === 'inventory'){

        try {
        document.getElementById('loading-overlay').style.display = 'flex';
        
        const response = await window.solana.connect();
        const walletAddress = response.publicKey.toString();
        console.log("Wallet Address:", walletAddress);

        if (walletAddress) {
          

          const responseBackend = await fetch('/solana/wallet_info/', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ wallet_address: walletAddress })
          });

          const data = await responseBackend.json();

          if (data.balance !== undefined) {
            

            const nftContainer = document.getElementById('nftList');
            nftContainer.innerHTML = '';

            data.nfts.forEach(nft => {
        const card = document.createElement('div');
        card.classList.add('nft-card');

        if (nft.image) {
            const img = document.createElement('img');
            img.src = nft.image;
            img.alt = nft.name || "NFT";
            card.appendChild(img);
        }

        const span = document.createElement('span');
        span.textContent = `${nft.name} ( ${nft.amount} )`;
        card.appendChild(span);

        // Input para cantidad
        const inputAmount = document.createElement('input');
        inputAmount.type = 'number';
        inputAmount.max = nft.amount;
        inputAmount.placeholder = 'Cantidad';
        card.appendChild(inputAmount);

        // Selector de usuarios
        const selectUser = document.createElement('select');
        Object.entries(data.members).forEach(([address, name]) => {
            const option = document.createElement('option');
            option.value = address;
            option.textContent = name;
            selectUser.appendChild(option);
        });
        card.appendChild(selectUser);


    const connection = new solanaWeb3.Connection("https://rpc.helius.xyz/?api-key=a3d88e42-62d1-4f91-b43d-a316f334fc45");

            
        // Botón de enviar
        const sendButton = document.createElement('button');
        sendButton.textContent = 'Enviar';
        sendButton.onclick =  async () => {

            const amount = inputAmount.value;
            const receiverStr = selectUser.value;
            const mintStr = nft.mint

            if (!amount || amount <= 0 || !receiverStr) {
        alert("Please enter amoun and valid address.");
        return;
      }

      const provider = window.solana;
      if (!provider?.isPhantom) {
        alert("Connect Phantom Wallet.");
        return;
      }

      await provider.connect();
      const sender = provider.publicKey;
      const receiver = new solanaWeb3.PublicKey(receiverStr);
      const mint = new solanaWeb3.PublicKey(mintStr);

      const senderTokenAccount = await splToken.Token.getAssociatedTokenAddress(
        splToken.ASSOCIATED_TOKEN_PROGRAM_ID,
        splToken.TOKEN_PROGRAM_ID,
        mint,
        sender
      );

      const receiverTokenAccount = await splToken.Token.getAssociatedTokenAddress(
        splToken.ASSOCIATED_TOKEN_PROGRAM_ID,
        splToken.TOKEN_PROGRAM_ID,
        mint,
        receiver
      );

      const ix = splToken.Token.createTransferInstruction(
        splToken.TOKEN_PROGRAM_ID,
        senderTokenAccount,
        receiverTokenAccount,
        sender,
        [],
        amount
      );

      const tx = new solanaWeb3.Transaction().add(ix);
      tx.feePayer = sender;
      tx.recentBlockhash = (await connection.getLatestBlockhash()).blockhash;

      try {
        const signedTx = await provider.signTransaction(tx);
        const sig = await connection.sendRawTransaction(signedTx.serialize());
        await connection.confirmTransaction(sig);
        alert("Send! TX: " + sig);
      } catch (err) {
        console.error(err);
        alert("Error : " + err.message);
      }
        };
        card.appendChild(sendButton);

        nftContainer.appendChild(card);
    });
          }
        }
      } catch (error) {
      } finally {
        document.getElementById('loading-overlay').style.display = 'none';
      }
    }
}

function handleUserChange(event) {
    const selectedUser = event.target.value;
    console.log(`Usuario seleccionado: ${selectedUser}`);
    // Aquí puedes realizar cualquier acción adicional que necesites
}

// Dentro de tu función donde creas el selector de usuarios



async function connectAndLogin() {
    const provider = window.solana;

    if (!provider || !provider.isPhantom) {
        alert("Please install Phantom Wallet: https://phantom.app/");
        return;
    }

    try {
        // Conectar con Phantom
        const connectResponse = await provider.connect();
        const publicKey = connectResponse.publicKey.toString();
      

        // Obtener nonce del servidor
        const nonceRes = await fetch("/get-nonce/", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ public_key: publicKey })
        });
        const { nonce } = await nonceRes.json();

        // Firmar el nonce
        const encodedMessage = new TextEncoder().encode(nonce);
        const signedMessage = await provider.signMessage(encodedMessage, "utf8");

        // Enviar firma al servidor
        const verifyRes = await fetch("/verify-login/", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({
                public_key: publicKey,
                signature: Array.from(signedMessage.signature)
            })
        });

        const result = await verifyRes.json();
        if (result.success) {
            alert("Login exitoso");
            location.reload();
        } else {
            alert("Error: " + result.error);
        }
    } catch (err) {
      
        alert("An error occurred while authenticating with Phantom");
    }
}
</script>

{% endblock %}
