{% extends 'base.html' %}

{% block content %}

<div id="loading-overlay">
    <div id="loading-spinner"></div>
</div>
<!-- Buscador de objetos -->
<div class="search-container">
    <input type="text" id="wallet" placeholder="Put Wallet">
    <input type="text" id="search-input" placeholder="Search object..." oninput="showSuggestions(this.value)">
    <button onclick="searchObject()">🔍 Search</button>
    <div id="suggestions" class="suggestions-container"></div>

</div>

<!-- Contenedor de Detalles del Objeto -->
<div class="rpg-container">

    <!-- Información del Objeto (Fija) -->
    <div class="info-section" style="display: flex; gap: 20px;">
        <h1 id="crafting_name" class="object-title"></h1>
        <div class="object-details">
            <img src="" id="object-image" class="object-image" alt="">
            <div class="object-description">
                <p><strong>Description:</strong></p> <span id="description"></span> <!-- Nuevo campo de descripción -->
                <p><strong>Profession:</strong> <span id="profession"></span>
                <p><strong>Level:</strong> <span id="level"></span></p>
                <p><strong>Amount:</strong> <span id="quantity"></span></p>
                <p><strong>Probability:</strong> <span id="probability"></span>%</p>
                <p><strong>Creation Time:</strong> <span id="time"></span> seconds</p>
                <p><strong>Url Market:</strong> <span id="urlMarket"></span> </p>
                <p><strong>Supply:</strong> <span id="supply"></span> </p>
                <p><strong>HAVE IN WALLET:</strong> <span id="have"></span> </p>
            </div>
        </div>
        <div class="object-details">
           <div class="object-description">
            <p style="font-size: xx-large;color: aqua;"><strong >Total Pice Craft:</strong></p> <span id="totalPrice"></span>
            <p style="font-size: x-large;color: aqua;"><strong>Have Sol:</strong></p> <span id="haveSol"></span>
            <p style="font-size: x-large;color: aqua;"><strong>Need Sol:</strong></p> <span id="needSol"></span>
        </div>
        </div>
    </div>

    <!-- Contenedor de pestañas -->
    <div class="tabs">
        <button class="tab-button active" onclick="openTab(event, 'requirements')">⚒ Requirements</button>
        <button class="tab-button" onclick="openTab(event, 'extra')">📜 Items to craft:</button>
        <button class="tab-button" onclick="openTab(event, 'transactions')">📜 Transactions</button>
        <button class="tab-button" onclick="openTab(event, 'holders')">📜 Top Holders</button>
        <button class="tab-button" onclick="openTab(event, 'prices')">📜 Market Pices</button>
    </div>

    <!-- Contenido de pestañas -->
    <div id="requirements" class="tab-content active">
        <h2>Manufacturing Requirements</h2>
        <ul class="requirements-list" id="requirements-list">
            <!-- Aquí se llenarán los requisitos con JavaScript -->
        </ul>
    </div>

    <div id="extra" class="tab-content">
        <h2>It is used to craft:</h2>
        <ul class="requirements-list" id="craftingInverse-list">
            <!-- Aquí se llenarán los objetos para craftear con JavaScript -->
        </ul>
    </div>

    <div id="transactions" class="tab-content">
        <h2>Transactions</h2>
        <table id="transactions-table">
            <thead>
                <tr>
                    <th>Signature</th>
                    <th>Block Time</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se llenarán las transacciones con JavaScript -->
            </tbody>
        </table>
    </div>

    <div id="holders" class="tab-content">
        <h2>Transactions</h2>
        <table id="holders-table">
            <thead>
                <tr>
                    <th>Owner</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se llenarán las transacciones con JavaScript -->
            </tbody>
        </table>
    </div>
    <div id="prices" class="tab-content">
        <h2>Transactions</h2>
        <table id="prices-table">
            <thead>
                <tr>
                    <th>Price</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se llenarán las transacciones con JavaScript -->
            </tbody>
        </table>
    </div>
</div>

<!-- Estilos -->
<style>
    @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
    .suggestions-container {
    position: absolute;
    background-color: black;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    width: calc(50% - 10px);
    z-index: 1000;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px; /* Alinea con el campo de entrada */

 
    border: 2px solid gold;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
   
    margin-left: 286px;
    width: 36%;
}

.suggestion-item {
    padding: 12px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 25px; /* Aumenta el tamaño de la fuente */
    color: black;
}

.suggestion-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.suggestion-item:hover {
    background-color: #7d3e3e;
}

    #loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        display: none; /* Ocultar por defecto */
        z-index: 9999; /* Asegura que cubra toda la pantalla */
        justify-content: center;
        align-items: center;
    }

    #loading-spinner {
        border: 10px solid #f3f3f3;
        border-top: 10px solid gold;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spin 1s linear infinite;
    }

    /* Animación del spinner */
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    /* Contenedor principal */
    .rpg-container {
        margin: 0 auto;
        padding: 20px;
        border-radius: 15px;
        color: white;
        font-family: 'MedievalSharp', cursive;
        text-align: center;
    }

    /* Sección de Información Fija */
    .info-section {
        padding: 20px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        text-align: center;
        border: 3px solid gold;
        margin-bottom: 20px; /* Espacio entre la información fija y las pestañas */
    }

    /* Título */
    .title {
        font-size: 28px;
        margin-bottom: 20px;
        text-shadow: 2px 2px 5px gold;
    }

    /* Tabs */
    .tabs {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 15px;
    }

    .tab-button {
        background: gold;
        border: none;
        padding: 12px 18px;
        cursor: pointer;
        font-size: 18px;
        border-radius: 10px;
        transition: 0.3s;
        font-family: 'MedievalSharp', cursive;
    }

    .tab-button:hover, .tab-button.active {
        background: #d4af37;
        color: black;
        box-shadow: 0px 0px 10px gold;
    }

    /* Contenido de Tabs */
    .tab-content {
        display: none;
        padding: 20px;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        text-align: left;
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .tab-content.active {
        display: block;
    }

    /* Imagenes */
    .object-image {
        width: 100%;
        max-width: 200px;
        border: 2px solid gold;
        display: block;
        margin: 10px auto;
        border-radius: 10px;
    }

    .req-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10px;
    }

    /* Listas */
    .requirements-list {
        list-style: none;
        padding: 0;
        text-align: left;
    }

    .requirements-list li {
        display: flex;
        align-items: center;
        padding: 5px;
        border-bottom: 1px solid gold;
    }

    /* Tabla */
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th, td {
        border: 1px solid gold;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: gold;
        color: black;
    }
    .search-container input[type="text"] {
        width: calc(50% - 10px);
        padding: 10px;
        margin: 5px;
        border: 2px solid gold;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        font-family: 'MedievalSharp', cursive;
        font-size: 16px;
        color: black;
        box-shadow: 0px 0px 10px gold;
        transition: all 0.3s ease;
    }

    .search-container input[type="text"]:focus {
        outline: none;
        border-color: #d4af37;
        box-shadow: 0px 0px 15px #d4af37;
    }

    .search-container button {
        padding: 10px 20px;
        margin: 5px;
        border: none;
        border-radius: 10px;
        background-color: gold;
        font-family: 'MedievalSharp', cursive;
        font-size: 18px;
        color: black;
        cursor: pointer;
        box-shadow: 0px 0px 10px gold;
        transition: all 0.3s ease;
    }

    .search-container button:hover {
        background-color: #d4af37;
        box-shadow: 0px 0px 15px #d4af37;
    }
    a{
        color: gold;
        text-decoration: underline;
        transition: color 0.3s ease-in-out;
    }
    a:hover{
        color: #d4af37;
    }
    .info-section {
    display: flex;

    align-items: flex-start;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    border: 3px solid gold;
    margin-bottom: 20px;
}

.object-title {
    font-size: 32px;
    margin-bottom: 10px;
    color: gold;
    text-shadow: 2px 2px 5px black;
}

.object-details {
    display: flex;
    align-items: flex-start;
}

.object-image {
    width: 300px;
    max-width: 100%;
    border: 2px solid gold;
    border-radius: 10px;
    margin-right: 20px;
}

.object-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}


</style>

<!-- Script de Tabs y Buscador -->
<script>

document.addEventListener('DOMContentLoaded', function () {
        // Obtener parámetros de la URL
        const urlParams = new URLSearchParams(window.location.search);
        const objetoBuscado = urlParams.get('q'); // Obtener el parámetro 'q'

        if (objetoBuscado) {
            searchObject(objetoBuscado);
        }
    });
    // Función para manejar las pestañas
    function openTab(evt, tabName) {
        var i, tabcontent, tabbuttons;
        tabcontent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].classList.remove("active");
        }
        tabbuttons = document.getElementsByClassName("tab-button");
        for (i = 0; i < tabbuttons.length; i++) {
            tabbuttons[i].classList.remove("active");
        }
        document.getElementById(tabName).classList.add("active");
        evt.currentTarget.classList.add("active");
    }

    // Función para realizar la búsqueda
// Función para realizar la búsqueda
    function searchObject(objectName) {
        wallet = $('#wallet').val();
        // Si no se pasa un nombre, buscamos por el valor del campo de entrada
        let query = objectName || document.getElementById('search-input').value;

        if (query.length < 3) return; // Evitar búsquedas con menos de 3 caracteres

        // Mostrar el loading
        document.getElementById('loading-overlay').style.display = 'flex';

        fetch(`/buscador_objeto/`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ q: query, wallet : wallet})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                actualizarPagina(data);
            } else {
                alert("Objeto no encontrado.");
            }
        })
        .catch(error => console.error('Error en la búsqueda:', error))
        .finally(() => {
            // Ocultar el loading
            document.getElementById('loading-overlay').style.display = 'none';
        });
    }


    // Función para actualizar los datos de la página
    function actualizarPagina(data) {
        // Actualizar Información
        document.getElementById("object-image").src = data.nft.image;
        document.getElementById("crafting_name").innerText = data.nft.name;
        document.getElementById("description").innerText = data.nft.description;
        if(data.crafting_details_by_level.length > 0){
        document.getElementById("level").innerText = data.crafting_details_by_level[0].level;
        document.getElementById("quantity").innerText = data.crafting_details_by_level[0].quantity;
        document.getElementById("probability").innerText = data.crafting_details_by_level[0].probability;
        document.getElementById("time").innerText = data.crafting_details_by_level[0].time;
        document.getElementById("profession").innerHTML = `<a href="${data.crafting_details_by_level[0].urlPorfession}" target="_blank">${data.crafting_details_by_level[0].profesion}</a>`;
        document.getElementById("urlMarket").innerHTML = `<a href="${data.crafting_details_by_level[0].urlMarket}" target="_blank">${data.crafting_details_by_level[0].urlMarket}</a>`;
        document.getElementById("supply").innerText = data.crafting_details_by_level[0].supply;
        document.getElementById("have").innerText = data.crafting_details_by_level[0].have;
        document.getElementById("totalPrice").innerText = data.crafting_details_by_level[0].totalPrice;
        document.getElementById("haveSol").innerText = data.balance;
        document.getElementById("needSol").innerText = data.crafting_details_by_level[0].totalNecesitas;
   
        // Actualizar Requisitos
        let reqList = document.getElementById("requirements-list");
        reqList.innerHTML = "";
        data.crafting_details_by_level[0].requirements.forEach(req => {
            reqList.innerHTML += `
                <li>
                    <img onclick="searchObject('${req.name}')" src="${req.image}" alt="" class="req-image"  style="cursor: pointer;">
                    ⚒ ${req.name} - Cantidad: ${req.quantity}  HAVE: ${req.have} Market Price: ${req.price} <span style="color: red;">Sol you need: ${req.necesitasPrecio}</span>
                        <a href="${req.marketUrl}" target="_blank">
                        <i class="fas fa-external-link-alt"></i>
                        </a>
                        </li>
            `;
        });
    }
        // Actualizar Objetos que se pueden craftear
        let extraList = document.getElementById("craftingInverse-list");
        extraList.innerHTML = "";
        data.craftingInverse_details.forEach(req => {
            extraList.innerHTML += `
                <li>
                    <img onclick="searchObject('${req.crafting_name}')" src="${req.image}" alt="" class="req-image"  style="cursor: pointer;">

                    ${req.crafting_name} - Cantidad: ${req.quantity} - Profesión: ${req.profesion} - Nivel: ${req.level} - Tiempo: ${req.time}
                </li>
            `;
        });

        // Actualizar Transacciones
        let transTable = document.getElementById("transactions-table").getElementsByTagName('tbody')[0];
        transTable.innerHTML = "";
        data.transactions.forEach(tx => {
            transTable.innerHTML += `
                <tr>
                    <td>${tx.signature}</td>
                    <td>${tx.blockTime}</td>
                    <td>${tx.confirmationStatus}</td>
                </tr>
            `;
        });

        // Actualizar Holders
        let holdersTable = document.getElementById("holders-table").getElementsByTagName('tbody')[0];
        holdersTable.innerHTML = "";
        data.holders.forEach(hol => {
            holdersTable.innerHTML += `
                <tr>
                    <td>${hol.owner}</td>
                    <td>${hol.amount}</td>
                </tr>
            `;
        });

                // Actualizar Holders
        let prices = document.getElementById("prices-table").getElementsByTagName('tbody')[0];
        prices.innerHTML = "";
        data.prices.forEach(pric => {
            prices.innerHTML += `
                <tr>
                    <td>${pric.price}</td>
                    <td>${pric.amount}</td>
                </tr>
            `;
        });
    }
    function showSuggestions(query) {
    if (query.length < 3) {
        document.getElementById('suggestions').innerHTML = '';
        return;
    }

    fetch(`/autocomplete/`, {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ q: query })
    })
    .then(response => response.json())
    .then(data => {
        const suggestionsContainer = document.getElementById('suggestions');
        suggestionsContainer.innerHTML = '';

        data.suggestions.forEach(item => {
            const suggestionItem = document.createElement('div');
            suggestionItem.className = 'suggestion-item';
            suggestionItem.innerHTML = `
                <img src="${item.image}" alt="${item.name}">
                <span>${item.name}</span>
            `;
            suggestionItem.onclick = () => {
                document.getElementById('search-input').value = item.name;
                suggestionsContainer.innerHTML = '';
                searchObject(item.name);
            };
            suggestionsContainer.appendChild(suggestionItem);
        });
    })
    .catch(error => console.error('Error fetching suggestions:', error));
}


</script>

{% endblock %}
